.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  color: black;
}

.chat-manual-button,
.chat-add-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px; 
  height: 20px; 
  padding: 0; 
}

.chat-manual-button img {
  width: 100%; 
  height: auto;
}

.chat-add-button img {
  width: 100%; 
  height: auto; 
}

.chat-title {
  margin: 0;
}

.chat-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #1B4B66;
  display: flex;
  flex-direction: column;
}

.chat-messages .message-box {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-messages .message-box.sent {
  align-self: flex-end; 
  background-color: #F1F1F1; 
}

.chat-messages .message-box.received {
  align-self: flex-start; 
  background-color: #F1F1F1;
}

.timestamp {
  color: #888;
  font-size: 0.8em;
  margin-top: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.send-button {
  background-color: #1B4B66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  font-weight: 400;
}

/* Adicione isto ao arquivo Chat.css */
.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #888;
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 736px) {  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    color: black;
  }
  
  .chat-manual-button,
  .chat-add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    padding: 0; 
  }
  
  .chat-manual-button img {
    width: 100%; 
    height: auto;
  }
  
  .chat-add-button img {
    width: 100%; 
    height: auto; 
  }
  
  .chat-title {
    margin: 0;
  }
  
  .chat-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #1B4B66;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages .message-box {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    word-wrap: break-word;
  }
  
  .chat-messages .message-box.sent {
    align-self: flex-end; 
    background-color: #F1F1F1; 
  }
  
  .chat-messages .message-box.received {
    align-self: flex-start; 
    background-color: #F1F1F1;
  }

  .timestamp {
    color: #888;
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .send-button {
    background-color: #1B4B66;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  h1 {
    font-weight: 400;
  }
  /* Adicione isto ao arquivo Chat.css */
  .loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #888;
  }

  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}