  .edit-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .edit-title {
    color: #1B4B66;
    font-weight: bold;
    font-size: 30px; 
    text-align: center;      
    width: 325px; 
  }
  
  .edit-id-user-input,
  .edit-login-input,
  .edit-password-input {
    background-color: #F1F1F1;
    margin: 10px;
    padding: 10px 0; 
    width: 300px; 
    border-radius: 8px; 
    border: none; 
  }
  
  .edit-button {
    margin-top: 20px; 
    background-color: #1B4B66;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }

  .back-edit-button {
    margin-top: 20px;
    background-color: #1B4B66;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }

  .delete-button {
    margin-top: 20px;
    background-color: #B00020;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }

/*conversao de tamanho de tela*/

@media screen and (max-width: 736px) {
  .edit-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .edit-title {
    color: #1B4B66;
    font-weight: bold;
    font-size: 30px; 
    text-align: center;      
    width: 325px; 
  }
  
  .edit-id-user-input,
  .edit-login-input,
  .edit-password-input {
    background-color: #F1F1F1;
    margin: 10px;
    padding: 10px 0; 
    width: 300px; 
    border-radius: 8px; 
    border: none; 
  }
  
  .edit-button {
    margin-top: 20px; 
    background-color: #1B4B66;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }

  .back-edit-button {
    margin-top: 20px;
    background-color: #1B4B66;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }

  .delete-button {
    margin-top: 20px;
    background-color: #B00020;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px; 
    border-radius: 8px; 
    font-size: 20px;
    font-weight: normal;
  }
}