.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  color: #1B4B66;
  font-weight: bold;
  font-size: 50px; 
  text-align: left; 
  width: 325px; 
}

.login-input {
  background-color: #F1F1F1;
  margin: 10px;
  padding: 10px;
  width: 300px; 
  border-radius: 8px; 
}

.password-input {
  background-color: #F1F1F1;
  margin: 10px;
  padding: 10px;
  width: 300px; 
  border-radius: 8px; 
}

.login-button {
  margin: 10px;
  padding: 10px;
  background-color: #1B4B66;
  color: white;
  border: none;
  cursor: pointer;
  width: 325px; 
  border-radius: 8px; 
  font-size: 20px;
  font-weight: bold;
}